@page "{id:int}"
@model FamilyResortManager.Pages.Clients.DeleteModel

<div class="card">
    <div class="card-header">
        Удалить клиента
    </div>
    <div class="card-body">
        <h5 class="card-title">Вы уверены, что хотите удалить этого клиента?</h5>
        <dl class="row mb-4">
            <dt class="col-sm-2">Имя</dt>
            <dd class="col-sm-10">@Model.Item.Name</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@Model.Item.Email</dd>
            <dt class="col-sm-2">Телефон</dt>
            <dd class="col-sm-10">@Model.Item.Phone</dd>
            <dt class="col-sm-2">Инфо</dt>
            <dd class="col-sm-10">@Model.Item.Info</dd>
        </dl>
        <form method="post" class="d-flex">
            <input type="hidden" asp-for="Item.Id" />
            <button type="submit" class="btn btn-danger me-2">Удалить</button>
            <a asp-page="./Index" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
</div>